/BlocoDeNota/nbproject/private/
/BlocoDeNota/build/
/Almoxarifado/nbproject/private/
/Almoxarifado/build/
/Cadastro/nbproject/private/
/Cadastro/build/
/Cadastro/dist/
/FaculdadeXaropinha/nbproject/private/
/FaculdadeXaropinha/build/
/ex_fix_set/nbproject/private/
/ex_fix_set/build/
/ex_fix_prop/nbproject/private/
/TESTE/nbproject/private/
/TESTE/build/
/ex_res_stream/nbproject/private/
/ex_res_stream/build/
/ex_prop_stream/nbproject/private/
/ex_prop_stream/build/
/jdbc/nbproject/private/
/jdbc/build/
/demo-dao-jdbc/nbproject/private/
/demo-dao-jdbc/build/